 <ion-header>
  <!-- <ion-navbar>
    <ion-buttons left>
     <button ion-button [hidden]="true" (click)="goBack()">
         <ion-icon class="customIcon" name="ios-arrow-back"></ion-icon>
     </button>
     </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar> -->
</ion-header>
<ion-content padding scrollbar-y-auto>
  <ion-list>
    <form [formGroup]="myForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label floating primary>Email</ion-label>
        <ion-input [(ngModel)]="userInfo.email" formControlName="email"
                   type="text" id="email" spellcheck="false" autocapitalize="off" validate-onblur>
        </ion-input>
      </ion-item>
      <p  *ngIf="myForm.controls.email.touched && !myForm.controls.email.valid && !myForm.controls.email.pristine" danger padding-left>Invalid Email</p>
      <ion-item>
        <ion-label floating primary>Password</ion-label>
        <ion-input [(ngModel)]="userInfo.password" formControlName="password" type="password" id="phone" validate-onblur>
        </ion-input>
      </ion-item>
      <p  *ngIf="myForm.controls.password.touched && !myForm.controls.password.valid && !myForm.controls.password.pristine" danger padding-left>Invalid Password</p>
      <ion-item>
        <ion-label>Remember Me</ion-label>
        <ion-checkbox [(ngModel)]="userInfo.rememberMe" formControlName="rememberMe" (ionChange)="rememberMe()" checked="true" ></ion-checkbox>
      </ion-item>

      <button ion-button type="submit" [disabled]="(!myForm.valid) || (userInfo.password =='') || (userInfo.password =='')" block primary>Login</button>
     </form>
     <button (ngClick)="gmailLogin()">Gmail Sign </button>
  </ion-list>
  <div class="g-signin2" data-onsuccess="onSignIn">Sign In</div>
</ion-content>
