ion-icon{
  padding-right: 10px;
  padding-top: 5px;
}
ion-icon[name="lock"] {
  font-size: 30px;
 }
 ion-icon[name="ios-arrow-forward"] {
 float: right;
}
 .toolbar-title{
   font-size: 24px;
 }
 ion-menu{
   ion-content{
     ion-list{
       button.menu-last-item{
         .item-inner{
            border-bottom: 1px solid #dedede !important;
         }
       }
     }
   }
 }
 .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent;
  box-shadow:none;
}
[scrollbar-y-auto] .scroll-content {
  overflow-y: auto !important;
}

 .toolbar-background-md {
    background: #f57c7c;
  }

  .tabs-md .tabbar {
    background: #f57c7c;
  }

  .menu-inner{
    .item-md {
      background: #f57c7c;
      .item-inner{
        border-bottom: 1px solid #dedede !important;
      }
    }
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 0px 0 0 white;
    box-shadow: inset 0 0px 0 0 white;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 0px 0 0 white;
    box-shadow: inset 0 0px 0 0 white;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: white;
    -webkit-box-shadow: inset 0 0px 0 0 white;
    box-shadow: inset 0 0px 0 0 white;
  }

  .input-has-focus .label-md[floating] {
    color: white;
  }
  .title.title-md{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;

  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after {
    background-image:none;
  }
  .enable-hover a:hover {
    opacity: 1;
  }

  .checkbox-md .checkbox-icon {
    background-color: #f57c7c;
    border-color: #fff;
  }
  .checkbox-md .checkbox-checked {
    border-color: #f57c7c;
    background-color: #f57c7c;
  }
  .item-checkbox{
    .checkbox{
      button{
        .button-effect{
          display: none;
        }
      }
    }
  }
