<ion-header class="page-create-account">
 <!-- <ion-navbar>
   <ion-buttons left *ngIf="loggedIn">
    <button ion-button (click)="goBack()">
        <ion-icon class="customIcon" name="ios-arrow-back"></ion-icon>
    </button>
    </ion-buttons>
     <ion-title>
       Create Account
     </ion-title>
 </ion-navbar> -->
</ion-header>
<ion-content padding scrollbar-y-auto class="page-create-account-inner">
 <ion-list>
   <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
     <ion-item>
       <ion-label floating primary>Name</ion-label>
       <ion-input [(ngModel)]="userInfo.name" formControlName="name" type="text"
                  id="name" spellcheck="false" autocapitalize="off"  validate-onblur>
       </ion-input>
     </ion-item>
     <p *ngIf="myForm.controls.name.touched && !myForm.controls.name.valid && !myForm.controls.name.pristine" danger padding-left class="create-invalid">Invalid Name</p>
     <ion-item>
       <ion-label floating primary>Email</ion-label>
       <ion-input [(ngModel)]="userInfo.email" formControlName="email"
                  type="text" id="email" spellcheck="false" autocapitalize="off" validate-onblur>
       </ion-input>
     </ion-item>
     <p *ngIf="myForm.controls.email.touched && !myForm.controls.email.valid && !myForm.controls.email.pristine" danger padding-left class="create-invalid">Invalid Email</p>
     <ion-item>
       <ion-label floating primary>Phone</ion-label>
       <ion-input [(ngModel)]="userInfo.phone" formControlName="phone" type="text" id="phone" validate-onblur>
       </ion-input>
     </ion-item>
     <p *ngIf="myForm.controls.phone.touched && !myForm.controls.phone.valid && !myForm.controls.phone.pristine" danger padding-left class="create-invalid">Invalid Phone</p>
     <ion-item>
       <ion-label floating primary>Password</ion-label>
       <ion-input [(ngModel)]="userInfo.password" formControlName="password" type="password" id="phone" validate-onblur>
       </ion-input>
     </ion-item>
     <p *ngIf="myForm.controls.password.touched && !myForm.controls.password.valid && !myForm.controls.password.pristine" danger padding-left class="create-invalid">Invalid Password</p>
     <ion-item>
       <ion-label floating primary>Confirm Password</ion-label>
       <ion-input [(ngModel)]="userInfo.confirmPassword" formControlName="confirmPassword" type="password" id="phone" validate-onblur>
       </ion-input>
     </ion-item>
     <p *ngIf="myForm.controls.confirmPassword.touched && !myForm.controls.confirmPassword.valid && !myForm.controls.confirmPassword.pristine" danger padding-left class="create-invalid">Invalid Confirm Password</p>
     <button ion-button type="submit" block primary [disabled]="!myForm.valid || (userInfo.confirmPassword !== userInfo.password) || (myForm.controls.password !='') || (myForm.controls.confirmPassword !='') ">Submit</button>
   </form>
 </ion-list>
</ion-content>
