page-create-account{
  ion-header{
    ion-navbar{
      .back-button.show-back-button{
        display: none;
      }
        ion-buttons{
          button{
            font-size: 25px !important;
            margin-bottom: 5px !important;
          }
        }
      }
    }
  ion-content{
    div{
      &.scroll-content{
        margin-top: 90px !important;
      }
      ion-list{
        form{
          button{
            margin-top: 30px !important;
            background-color:rgba(245, 124, 124, 0.48) !important;
          }
          ion-item{
            background: rgba(245, 124, 124, 0.63) !important;
            .item-inner{
              .input-wrapper{
                ion-label{
                  color: white;
                }
              }
            }
          }
          .create-invalid{
            background: rgba(245, 124, 124, 0.63) !important;
            margin: 0px;
            padding: 10px;
          }
        }
      }
    }
  }
}
