page-become-member {
    
.tabs-md .tab-button[aria-selected=true] {
    color: #FFFFFF;
 }
  ion-content{
      ion-tabs{
          .tabbar{
              .tab-button{
               .tab-button-text{
                    font-size: 16px;
                    letter-spacing: 0.7px;
                    font-weight: bold;
                     -webkit-transform: scale3d(1,1,1) !important; 
                    transform: scale3d(1,1,1) !important; 
                    -webkit-transition: -webkit-transform 0.3s ease-in-out; 
                    transition: -webkit-transform 0.3s ease-in-out; 
                    transition: transform 0.3s ease-in-out; 
                    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; 
                }
              }
          }
      }
  }
  .tabs-md[tabsHighlight="true"] .tab-highlight {
    background-color: #FFFFFF;
}
}
